<%- include('../cabecalho') -%>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Biologo</h2>
        </div>
        <!-- Hover Rows -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <form action="/biologo" method="POST">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" name="pesquisa" class="form-control"
                                                placeholder="Pesquisando..">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" style="margin-top:0px;" class="btn btn-primary m-t-15 waves-effect">Pesquisa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Biologo</th>
                                    <th>Idade</th>
                                    <th>Data de Nascimento</th>
                                    <th>Curriculo Lattes</th>
                                    <th>Especializações</th>
                                    <th>CRBio</th>
                                    <th>Edita</th>
                                    <th>Deleta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Biologos.forEach(function(biologo){ %>
                                <tr>
                                    <th scope="row"><%=biologo._id%></th>
                                    <td><%=biologo.nome%></td>
                                    <td><%=biologo.idade%></td>
                                    <td><%=biologo.datanasc%></td>
                                    <td><%=biologo.curriculo%></td>
                                    <td><%=biologo.especializacoes%></td>
                                    <td><%=biologo.crbio%></td>
                                    <td>
                                        <a href="/biologo/edit/<%=biologo._id%>"
                                            class="btn btn-warning btn-circle-lg waves-effect waves-circle waves-float">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/biologo/del/<%=biologo._id%>"
                                            class="btn btn-danger btn-circle-lg waves-effect waves-circle waves-float">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                                <%});%>
                            </tbody>
                            <tfoot>
                                <% if(typeof msg !== "undefined"){ %>
                                <div class="alert bg-green alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <%=msg%>
                                </div>
                                <% } %>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Hover Rows -->

    </div>
</section>
<%- include('../rodape') -%>